.hero_section h1 {
	font-size: 3.5rem;
	padding-top: 100px;
}

.hero_section p {
	font-size: 1.25rem;
	color: #e0e0e0;
}
.btn_custom {
	background-color: #d14181;
	border: 2px solid #d14181;
	color: whitesmoke;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}
.btn_custom:hover {
	background-color: #c51162;
	border-color: #c51162;
	color: whitesmoke;
}

.btn_outline_custom {
	color: whitesmoke;
	border: 2px solid #d14181;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}
.btn_outline_custom:hover {
	color: whitesmoke;
	background-color: #c51162;
	border-color: #c51162;
}

.section {
	padding-top: 60px;
	padding-bottom: 80px;
}
.section h1 {
	margin-bottom: 1rem;
}
.about_section p {
	text-align: justify;
}
.about_section .progress-bar {
	background-color: #d14181;
}

#projects_section,
#contact_section {
	background-color: #f2f2f5;
}

.bg_custom_accent {
	background-color: #d14181;
}
.btn_custom_dark {
	background-color: #5c5bbd;
	color: whitesmoke;
}
.btn_custom_dark:hover {
	background-color: #404084;
	color: whitesmoke;
}

.experience_item {
	margin-bottom: 50px;
}
.experience_item .company_name {
	font-size: 1.25rem;
	color: #455a64;
}
.experience_item .details {
	text-align: justify;
}

.contact_icon {
	background-color: #c8d3f8;
	padding: 11px;
	color: #33315d;
}
.contact_icon_title {
	font-size: 1.35rem;
	margin: 0;
}

footer {
	padding-top: 28px;
	padding-bottom: 28px;
	text-align: center;
	background-color: #33315d;
	color: whitesmoke;
}
footer p {
	margin: 0;
}
